.new-tweet {
    border-radius: 10px;
    background-color: rgb(169, 234, 250);
    width: 400px;
    margin: auto;
    width: 90%;
    border: 1px solid rgb(124, 159, 168);
    padding: 10px;
}


.compose-tweet {
    text-align: left;
    border-bottom: 1px solid black;

}


.text-area {
    width: 100%;
    border-radius: 5px;
}


.counter {
    position: right;
    float: right;
}

.tweet {
    border-radius: 10px;
    background-color: rgb(169, 234, 250);
    width: 400px;
    margin-top: 60px;
    margin-left: 20px;
    width: 90%;
    border: 1px solid rgb(124, 159, 168);
    padding: 10px;
}


article.tweet header {

    text-align: left;
    height: 50px;

}


article.tweet footer {
    background-color: rgb(255, 255, 255);
    text-align: left;
    border-radius: 0px 0px 10px 10px;
    border-top: 1px solid rgb(239, 237, 237);
    padding-bottom: 30px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: -10px;
    margin-top: -16px;
}

.tweet {
    opacity: 0.7;
}

.tweet:hover {
    opacity: 1;
}

.tweet:hover .icons {
    visibility: visible;
}


.submit-button {
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px;
}

.posted-tweet {
    padding: 32px;
    background-color: rgb(255, 255, 255);
    margin-left: -10px;
    margin-right: -10px
}

.handle {
    float: right;
}

.profile-pic {
    border-radius: 10px;
    left: -20px;
    float: left;

}

.real-name {
    float: left;
    margin-left: 10px;
}


.icons {
    float: right;
    color: black;
    margin-right: 10px;
    margin-top: 6px;
    visibility: hidden;
}


#load-more-tweets {
    width: 20%;
    margin-left: 40%;
    margin-right: 50%;
    background-color: #00a087;
    color: white;
    border-radius: 7px;
}


.new-tweet {
    display: none;
}


.active {
    display: block;
}


.empty-error {
    color: red;
    display: none;
}


.character-limit-error {
    color: red;
    display: none;
   background-color: white 
}